.BTCNode{
    width: 267px;
    background-color: #fff;
}
.BTCNode__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #576673;
    padding: 3px 15px;
}
.BTCNode__header small{
    font-size: 14px;
    color: #fff;
}
.BTCNode__description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    padding: 0 0 0 15px;

}

.BTCNode__status{
    display: flex;
    flex-direction: column;
}
.BTCNode__status div {
    padding: 20px 15px;
}

.BTCNode__success{
    background-color: #08A440;
    color: #fff;
}
.BTCNode__error{
    background-color: #fa3e3e;
    color: #fff;
}