.node {
  width: 167px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #576673;
  padding: 3px 15px;
}
.body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 9px 0 9px 15px;
}

.large {
  width: 267px;
}
.medium {
  width: 167px;
}
.small {
  width: 67px;
}
