.NodeRequest {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
}

.NodeRequest__status {
    display: flex;
    flex-direction: column;
}

.NodeRequest__status div {
    padding: 20px 15px;
}

.NodeRequest__success {
    background-color: #08a440;
    color: #fff;
}

.NodeRequest__error {
    background-color: #fa3e3e;
    color: #fff;
}
